<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lechot.esgi.timeup">

    <uses-permission android:name="android.permission.READ_CONTACTS" /> <!-- Ces permissions étaient nécessaires pour la démo que je vous avais fait. Mais là ça fait bizarre
    d'avoir un jeu qui te demande de pouvoir lire tes contacts -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- inutile aussi -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Si vous ne mettez rien dans la balise, vous pouvez la refermer immmédiatement : <activity android:name=".PlayerActivity" /> -->
        <activity android:name=".PlayerActivity"></activity> <!-- TODO: ajouter l'attribut android:windowSoftInputMode="adjustResize" pour que qu'on puisse voir la liste même pendant l'ajout des éléments -->


        <activity android:name=".TeamViewActivity"></activity>
        <activity android:name=".CategoryActivity"></activity>
        <activity android:name=".MainScreenGameActivity"></activity>
        <activity android:name=".ScoreActivity"></activity>
    </application>

</manifest>